<!doctype html>
<html ng-app>
<head>
    <script src="../../lib/assets/javascripts/angular.js"></script>
    <script src="../assets/javascripts/app.js"></script>
</head>
<body>

<label>Name:</label>
<input type="text" ng-model="nameFilter" placeholder="Enter a name here">
<hr/>

<div ng-controller="SimpleCrtl">
    <h3>Looping over users</h3>
    <ul>
        <li data-ng-repeat="user in users | filter: nameFilter | orderBy:'name'">
            {{user.name | uppercase }}
        </li>
    </ul>
</div>
</body>
</html>